<h2>Signup</h2>
<form id="userLogin">
    <input type="text" placeholder="Username" id="userSignup">
    <input type="text" placeholder="Password" id="passwordSignup">
    <button>Signup!</button>
</form>
<div>
    <a href="/login">Login here</a>
</div>

<script src="/js/signup.js"></script>